- var dieTypes = ['yellow', 'green', 'blue', 'red', 'purple', 'black', 'force']
- var resultTypes = ['success', 'advantage', 'lightside', 'darkside', 'special']

html
  head
    title Star Wars Dice Roller
    link(rel='stylesheet', href='site.css')

  body
    h1 Star Wars Dice Roller
    form.dice-form
      each dieType in dieTypes
        .die-control
          .symbol(class=dieType)
          label(for=dieType)= dieType
          a.quantity-control.up(href='#') +
          input(name=dieType, min='0', value='2')
          a.quantity-control.down(href='#') -
        if dieType == 'blue' || dieType == 'black'
          .clear

    a.roll(href='javascript:;') Roll!

    br
    br

    .results
      each resultType in resultTypes
        .result-container(class=resultType)
          .label= resultType + ":"
          .value

    .scripts
      script(src='../js/dependencies/lodash.min.js')
      script(src='../js/dependencies/jquery.min.js')
      script(src='../js/dice.js')
      script(src='../js/diceRoller.js')
